body{
    height: 100vh;
    background-color: rgb(238, 238, 238);
}
/* header - title bar styling */
header{
    height: 80px;
}
.title-bar{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    height: 50%;
}
h1{
    font-size: 1rem;
}
/* menu-bar styling */
.menu-bar{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 50%;
    margin-left: 10px;
}

/* footer styling */
footer{
    height: 80px;
}

/* main styling */
main{
    height: calc(100vh - 80px - 80px);
    background-color: black;
}

/* div styling for menu bar */
.menu-bar div{
    cursor: pointer;
}

/* menu bar list item */
.list-menu-bar{
    position: absolute;
    background-color: rgb(238, 238, 238);
    top: 8px;
    padding-left: 10px;
    display: none;
}
.playback-option,.audio-option{
    position: relative;
}
.list-menu-bar li{
    padding-right: 80px;
}
.menu-bar > div{
    padding-bottom: 5px;
}

/* hover property added on playback and audio and open */
.playback-option:hover,.audio-option:hover,.open-option:hover{
    background: lightblue;
}
.playback-option:hover .list-menu-bar{
    display: block;
}
.audio-option:hover .list-menu-bar{
    display: block;
}

/* video file styles */
input{
    display: none;
}

